.profile {
    height: 30vw;
    margin: 5vh auto;
    max-height: 90%;
    border-radius: 1.25rem!important;
}

.swot_icon {
    position: relative;
    height: 15vh;
    max-height: 90%;
    left: 65%;
}

#about {
    background-image: url('/static/images/Background/About.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#about p {
    font: normal 1.25rem Montserrat;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: justify;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .background_menu {
        display: none;
    }

    .center {
        text-align: center;
    }

    .header {
        display: inline-block !important;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5% !important;
    }

    .profile {
        width: 50vw;
        height: auto;
    }

    .right {
        text-align: right;
    }

    .top {
        z-index: 1;
    }

    #about h1 {
        position: relative;
        top: 5vh;
    }

    #about p {
        margin: 0% 0%;

    }
}