#contact {
    background-image: url('/static/images/Background/Contact.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#contact h1 {
    font: normal 3rem Kreon;
    color: #3d3d3d;
    text-align: left;
    width: 20vw;
}

#contact p {
    font: normal 1.25rem Montserrat;
    margin-top: 7%;
    text-align: center;
}

#contact img {
    height: 20vh;
    margin: 2vh 0;
    max-height: 90%;
}

@media screen and (max-width: 700px) {
    .background_menu {
        display: none;
    }

    .header {
        display: inline-block;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5%;
    }

    .right {
        text-align: right;
    }

    .title{
        margin-top: 8vh;
    }
    
    #contact p {
        width: 95%;
    }

    #contact img {
        width: 25vw;
        height: auto;
    }
}