#edu {
    background-image: url('/static/images/Background/Education.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#edu h1 {
    color: #3d3d3d;
    font: normal 3rem Kreon;
    margin-top: 5vh;
    width: 20vw;
}

#edu h2 {
    font: bolder 2rem Montserrat;
    margin-top: 5vh;
    width: 40vw;
}

#edu h3 {
    font: bold 1.5rem Montserrat;
    margin-top: 1vh;
    width: 40vw;
}

#edu img {
    height: 25vw;
    margin: 5vh auto;
    max-height: 90%;
}

#edu p {
    font: normal 1rem Montserrat;
    margin-top: 5vh;
    text-align: justify;
    width: 40vw;
}

@media screen and (max-width: 767px) {

    .background_menu {
        display: none;
    }

    .header {
        display: inline-block;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5% !important;
    }

    .top {
        z-index: 1;
    }

    .right {
        text-align: right;
    }

    #edu img {
        display: none;
    }

    #edu h1 {
        position: relative;
        top: 5vh;
    }

    #edu h2 {
        font-size: 1.25rem;
        font-weight: bolder;
        margin-top: 25%;
        text-align: center;
        width: 90%;
    }

    #edu h3 {
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }

    #edu p {
        margin-top: 10%;
        width: 90%;
    }
}