#exp {
    background-color: #f0efef;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#exp h1 {
    font: normal 3rem Kreon;
}

#exp h2 {
    font: bold 1.25rem Kreon;
    margin-top: 5%;
    text-align: center;
}

#exp img {
    margin-top: 10vh;
    width: 55%;
    height: auto;
}

#exp p {
    font: normal 1rem Montserrat;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .background_menu {
        display: none;
    }

    .header {
        display: inline-block;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5%;
    }

    .right {
        text-align: right;
    }

    .title {
        margin-top: 8vh;
    }

    #exp .small-size {
        flex-direction: column !important;
    }

    #exp img {
        margin-top: 5%;
        width: 25vw;
        height: auto;
    }

    #exp .title {
        font-size: 1.25rem !important;
    }

    #exp h2 {
        font: bold 1rem Kreon;
        margin-bottom: 1%;
        text-align: center;
    }

    #exp p {
        font: normal 0.75rem Montserrat;
        margin-bottom: 0%;
        text-align: center;
    }
}