#swot {
    background-image: url('/static/images/Background/About.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.content-settings {
    text-align: center;
}

.right-most {
    margin-right: 0% !important;
    position: relative;
    top: 7vh;
}

.title {
    font: normal 1.5rem Kreon;
    position: relative;
    top: 5vh;
    bottom: 5vh;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .table-settings {
        padding: 0% 0% !important;
    }
}

