<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jilham Luthfi | Education</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/menu_bar_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/education_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="background_menu">
            <div class="d-flex flex-column justify-content-center menu-area">
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Home_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'homepage:homepage' %}"><div class="text">Home</div></a>
                    </div> 
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/About_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'homepage:about' %}"><div class="text">About</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Education_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <div class="text">Edu</div>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Skills_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'homepage:skills' %}"><div class="text">Skills</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Experiences_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'homepage:exp' %}"><div class="text">Exp</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Contact_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'homepage:contact' %}"><div class="text">Contact</div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid left-right-most">
            <div class="header top right">
                <!-- fill the header with dropdown -->
                <div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        Menu
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'homepage:homepage' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'homepage:about' %}">About Me</a>
                        <a class="dropdown-item disabled" href="#">Edu</a>
                        <a class="dropdown-item" href="{% url 'homepage:skills' %}">Skills</a>
                        <a class="dropdown-item" href="{% url 'homepage:exp' %}">Exp</a>
                        <a class="dropdown-item" href="{% url 'homepage:contact' %}">Contact</a>
                    </div>
                </div>
            </div>

            <div id="edu">
                <div class="d-flex flex-column margin-left">
                    <h1 class="title">Education</h1>
                    <div class="row">
                        <div class="col-md-7 left-right-most center-icon">
                            <h2>Universitas Indonesia</h2>
                            <h3>Computer Science Major</h3>
                            <p>
                                I am an undergraduate student of Computer Science major at Universitas Indonesia. 
                                Computer Science of Universitas Indonesia (CSUI) is one of the foremost institutions 
                                in Indonesia which offers degree programs in computer science and information 
                                technology. CSUI has played a key role in developing indormation technology in Indonesia, 
                                and continually delivers high-quality education, reserach, and services to meet 
                                the needs of its stakeholders. 
                            </p>
                        </div>
                        <div class="col-md-5 left-right-most">
                            <img class="makara" src="{% static 'images/Icon/Makara_UI.png' %}" alt="Makara UI" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

                
    </body>
</html>