<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jilham Luthfi | Portfolio Website</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="homepage" class="d-flex flex-column justify-content-center">
            <h1 class="titleHomepage">HI</h1>
            <p>I'm Jilham Luthfi<br>and I'm an undergraduate student of Computer Science</p>
            <a class="btn btn-outline-dark btn-lg" href="{% url 'homepage:about' %}">find more</a>
        </div>
    </body>
</html>